body {
	background-color: LIGHT_MODE_BACKGROUND;
	color: hsl(0, 0%, 0%);
	font-family: Arial, sans-serif;
	font-size: FONT_SIZE;
	line-height: 1.5;
}

footer {
	opacity: 0.6;
	text-align: center;
}

header {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

header a {
	color: inherit;
	text-decoration: none;
}

header a:hover {
	color: hsl(240, 100%, 50%);
}

img {
	width: 100%;
}

input,
textarea {
	border-radius: ROUNDING;
	border: 1px outset hsl(0, 0%, 75%);
	box-shadow: SHADOW_SIZE hsla(0, 0%, 0%, 0.5);
	box-sizing: border-box;
	font-size: FONT_SIZE;
	margin: 0 0 15px;
	padding: 10px;
}

input:focus,
textarea:focus {
	border: 1px outset hsl(240, 100%, 75%);
	box-shadow: SHADOW_SIZE hsla(240, 100%, 50%, 0.5);
	outline: none;
}

input[type="submit"] {
	background-color: hsl(0, 0%, 85%);
	border: none;
	cursor: pointer;
}

input[type="submit"]:active,
.cta-button:active {
	box-shadow: none;
	transform: translate(1px, 1px);
}

input[type="submit"]:hover {
	background-color: hsl(0, 0%, 75%);
}

svg {
	height: 30px;
}

textarea {
	height: 100px;
}

.cta-button {
	background-color: hsl(210, 100%, 50%);
	border-radius: ROUNDING;
	box-shadow: SHADOW_SIZE hsla(0, 0%, 0%, 0.5);
	box-sizing: border-box;
	color: white;
	display: block;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

.cta-button:hover {
	background-color: hsl(210, 100%, 40%);
}

.logo-name {
	align-items: center;
	display: flex;
	gap: 10px;
}

.mailto {
	color: hsl(240, 100%, 50%);
}

@media (max-width: 999px) {
	body {
		margin: 0;
	}

	header {
		background-color: LIGHT_MODE_BACKGROUND;
		position: sticky;
		top: 0;
	}

	input,
	textarea {
		width: 100%;
	}

	.container>div {
		margin: 0 10px;
	}

	#burger {
		margin: 10px;
	}

	#burger-menu {
		background-color: LIGHT_MODE_BACKGROUND;
		border: 1px outset hsl(0, 0%, 75%);
		box-shadow: SHADOW_SIZE hsla(0, 0%, 0%, 0.5);
		display: none;
		line-height: 2.5;
		padding: 10px 25px;
		position: absolute;
		right: 0;
		top: 100%;
	}

	#burger-menu a {
		display: block;
	}

	#header-menu {
		display: none;
	}
}

@media (min-width: 1000px) {
	body {
		margin: GAP;
	}

	input,
	textarea {
		width: 90%;
	}

	input[type="submit"],
	.cta-button {
		width: 50%;
	}

	.container {
		display: grid;
		gap: GAP;
		grid-template-columns: 1fr 1fr;
		margin: GAP 0;
	}

	#burger {
		display: none;
	}

	#header-menu {
		align-items: center;
		display: flex;
		gap: 30px;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
	}
}
