footer {
	opacity: 0.75;
	text-align: center;
}

body {
	font-family: Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

svg {
	height: 30px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

header div {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 30px;
}

header a {
	text-decoration: none;
	color: inherit;
}

header>:first-child {
	display: flex;
	align-items: center;
	gap: 10px;
}

header a:hover {
	color: blue;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	padding: 20px;
}

img {
	width: 100%;
}
